/* FONTS */
@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/subset-Gotham-Black.eot');
    src: url('../fonts/subset-Gotham-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-Gotham-Black.woff2') format('woff2'),
         url('../fonts/subset-Gotham-Black.woff') format('woff'),
         url('../fonts/subset-Gotham-Black.ttf') format('truetype'),
         url('../fonts/subset-Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */